<html>
<head>
  <title><%= title %></title>
  <%- STYLES %>
</head>
<body>
  <div id="_render_react_root_"><%- HTML %></div>
  <script>window._STATE_ = <%- STATE %></script>
  <%- SCRIPTS %>
</body>
</html>
