<html>
<head>
  <title><%= title %></title>
  <%- __styles %>
</head>
<body>
  <div id="__render-react-root"><%- __html %></div>
  <script>window.__state = <%- __state %></script>
  <%- __scripts %>
</body>
</html>
